{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!
{% endblock %}

{% block body %}

	<p>Bienvenue,</p>

	{% if app.user %}
		<p>
			<a href="{{ path('app_logout')}}">Se déconnecter</a>
		</p>
	{% else %}
		<p>
			<a href="{{ path('app_register')}}">S'inscrire</a>
		</p>
		<p>
			<a href="{{ path('app_login')}}">Se connecter</a>
		</p>
	{% endif %}


{% endblock %}
