{% extends 'base.html.twig' %}
{% block title %}Hello HomeController!
{% endblock %}

{% block body %}
	<h1>Bienvenue,
		{{ app.user.email }}</h1>

{% endblock %}

{% block body_public %}
	<p>Bienvenue,</p>
	<p>
		<a href="{{ path('app_register')}}">S'inscrire</a>
	</p>
	<p>
		<a href="{{ path('app_login')}}">Se connecter</a>
	</p>
{% endblock %}
