{% extends 'base.html.twig' %}
{% block title %}Biblio Tech
{% endblock %}


{# Connected users but not admin #}
{% block body %}
	{% if is_granted('ROLE_USER') and not is_granted('ROLE_ADMIN') %}
		<div class="home-header-container">
			<div class="home-banner-image"></div>
			<div>
				<h2>Découvrez tous nos livres et bien plus encore !</h2>
				<p>Explorez notre vaste collection de livres, accédez à des ressources numériques, et plongez dans un univers dédié à la lecture, la culture et le savoir.</p>
			</div>
		</div>
	{% endif %}

	<h1>Bienvenue,
		{{ app.user.email }}</h1>
{% endblock %}
