{% extends 'base.html.twig' %}

{% block title %}Modifier un livre
{% endblock %}

{% block body %}
	<h1>Modifier le livre</h1>

	{% include 'book/form.html.twig' with {
		'add_button_label': 'Mettre à jour', 
		'src_img': asset('uploads/images/' ~ book.image), 
		'add_update':'Modifier', 
		'show_delete_button': true} %}

	<script>
		image = document.querySelector('.image-preview');
imageWrapper = document.querySelector('.image-upload');
if (image.getAttribute('src') === '#') {
image.style.display = 'none';
imageWrapper.style.justifyContent = 'center';
imageWrapper.style.gap = '10px';
} else {
image.style.display = 'block';
// imageWrapper.style.justifyContent = 'space-evenly';
}

function previewImage(event) {
const input = event.target;
const preview = document.querySelector('.image-preview');
const defaultSrc = preview.getAttribute('src'); // Récupère la source actuelle de l'image

if (input.files && input.files[0]) {
const reader = new FileReader();
reader.onload = function (e) {
preview.src = e.target.result; // Définit la nouvelle source en Base64
preview.style.display = 'block';
};
reader.readAsDataURL(input.files[0]);
} else if (defaultSrc && defaultSrc !== '#') {
console.log('Image existante, aucune nouvelle image sélectionnée.');
}
}
	</script>

{% endblock %}
