{% extends 'base.html.twig' %}

{% block title %}Modifier un livre
{% endblock %}

{% block body %}
	<h1>Modifier le livre</h1>

	{% include 'book/form.html.twig' with {'second_button_label': 'Mettre à jour', 'src_img': asset('uploads/images/' ~ book.image), 'add_update':'Modifier'} %}

	<script>
		image = document.querySelector('.image-preview');
imageWrapper = document.querySelector('.image-upload');
if (image.getAttribute('src') === '#') {
image.style.display = 'none';
imageWrapper.style.justifyContent = 'center';
imageWrapper.style.gap = '10px';
} else {
image.style.display = 'block';
imageWrapper.style.justifyContent = 'space-around';
}
	</script>

{% endblock %}
