{% extends 'base.html.twig' %}

{% block title %}Ajouter un livre
{% endblock %}

{% block body %}
	<h1>Ajouter un nouveau livre</h1>

	{% include 'book/form.html.twig' with {'second_button_label': 'Publier'} %}
{% endblock %}
